body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    color: #333;
    margin: 0;
    padding: 0;
}

.mainContainer {
    max-width: 100%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.prediction-form {
    font-family: Arial, sans-serif;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.score-input-container {
    display: flex;
    align-items: center;
    gap: 10px; /* Ruimte tussen de elementen */
}

.score-input-container label {
    font-weight: bold;
}

.score-input-container input {
    width: 50px; /* Maak de invoervelden smaller */
    text-align: center;
}

.small-button {
    padding: 8px 12px; /* Kleinere opvulling */
    font-size: 0.7em; /* Kleinere lettergrootte */
    border-radius: 5px;
    cursor: pointer;
    background-color: #D2122E;
    color: white;
    border: none;
    margin-top: 15px;
}

ul {
    list-style-position: inside;
}

h2 {
    font-size: 20px;
    text-align: center;
}

input {
    border: 1px solid black;
}

#prediction_field {
    border: 0;
    width: 45px;
}

.navbar {
    display: flex;
    justify-content: center;
    background-color: #D2122E;
    padding: 10px;
}

.navbar a {
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-weight: bold;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.login-window {
    margin-top: 20px;
}

button {
    background-color: #D2122E;
    color: white;
    font-weight: bold;
    margin-left: 5px;
}

.section {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.table-container {
    overflow-x: auto; /* Zorgt voor de horizontale scrollbalk */
    width: 100%; /* Zorgt ervoor dat de container de volledige breedte van de parent inneemt */
}

.prediction-tables {
    width: 50%;
    border-collapse: collapse;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.prediction-tables th, .prediction-tables td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
}

.prediction-tables th {
    background-color: #D2122E;
    color: white;
}

.prediction-tables tr:nth-child(even) {
    background-color: #f2f2f2;
}


